*{
    box-sizing: border-box; 
 } 
body {
    margin: 0; 
}
.img {
    width:100%;
}
@media only screen and (max-width: 992px) { 
    .row1 .colsi {
        width: 50%; 
    }
}
.row1 .colsi {
    background-color: black;
    color: white;
    float: left; 
    width: 50%;   
    text-align: center;
} 
@media only screen and (max-width: 992px) { 
    .row2 .cols1 {
        width: 50%;
    }
    .row2 .cols2 {
        width: 50%;
    }             
}
.row2 {
      background-color: whitesmoke;
      height: 33vh; 
}
.row2 .cols1 {
    color: green; 
    float: left;
    width: 50%;
    text-align: center;    
    padding: 19px; 
}
.row2 .cols2 {
    text-align: center; 
    color: black; 
    float: right; 
    width: 50%;
    padding-top: 70px; 
}  
.row2 .cols2 .colour {
    background-color: chartreuse;
    text-decoration: none; 
    margin-left: 2px;
    margin-right: 2px;
    padding: 10px 4px;
}
.top {
    background-color: lightslategray; 
    color: black;
    text-align: center;
}
.colss {  
    background-color: whitesmoke;
    text-align: center; 
    color: lightslategray;  
}   
.button {
    background-color: chartreuse;
    color: white;
    text-align: center;
    padding: 8px;  
    border-top:4px solid orange;  
}
.column {
    padding-left: 100px;
    padding-right: 100px;
}
@media only screen and (max-width: 992px) { 
    .row3 .column {
        width: 100%; 
    }
} 
.row3 .column {
    background: url('https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105__480.png');
    background-position: center;
    width: 100%;  
    float: left; 
}  
@media only screen and (max-width: 992px) { 
    .row4 .div1 {
        width: 50%;
    }
    .colourfull {
        width: 60%; 
    }
    .small {
        width: 25%;
    } 
} 
.row4 .div1 {
     background-color: aquamarine;
     float: left;
     width: 50%;
     text-align: center;
     height: 160vh;  
} 
.colourfull {
    width: 60%; 
    height: 110vh;   
}
.small {
    width: 25%;
    height: 20vh;
    border: 8px whitesmoke double;
}
.footer {
    color: black;
}
.btn {
    background-color: chartreuse;
    padding: 5px;
    color: white;
} 
@media only screen and (max-width: 992px) { 
    .row5 {
        width: 100%;
    }
}
.row5 {
    background-color: lightgrey;
    text-align: center;
    width: 100%;
    padding: 20px;
}
@media only screen and (max-width: 992px) { 
    .sec1 {
        width: 20%;
    }
    .sec2 {
        width: 20%; 
    }
    .imge {
        width: 20%; 
    }
}
.row6 {
    background-color: lightgrey;
    padding-left: 180px;
    height: 30vh;
}
.sec1 {
    float: left;
    width: 20%;
    background-color: orange;
    text-align: center;
    padding: 4px;
}
.sec2 {
    float: left;
    width: 20%;
    background-color: aqua;
    text-align: center;
    padding: 4px;
}
.imge {
    float: left;
    width: 20%;
    padding-left: 30px;
    height: 23vh;
}
.btn1 {
    background-color: transparent;
    color: white;
}
@media only screen and (max-width: 992px) { 
    .row7 .paragraph1 { 
        width: 33.333333%;
    }
    .icons {
        width: 75%;
    }
}
.row7 {
    background-color:rgb(90, 86, 86);
    color: silver;
    padding: 20px;
    height: 50vh;
}
.row7 .paragraph1 { 
    float: left;
    width: 33.333333%;
    padding-left: 99px;
}
.line {
    text-decoration: underline;
}
.green {
    color: yellowgreen;
}
.mail {
    background-color: black;
    color: silver;
}
.submit {
    background-color: yellowgreen;
    color: white;
}
.icons {
    background-color: black;
    border: solid black;
    width: 75%;
    height: 6vh;
    padding: 8px;
}  
.row8 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}